// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background:black;
}

body > header {
  background-image:url('../images/kilimanjaro.png');
  background-size:cover;
  background-position:center;

  padding-top:2.5em;
  padding-bottom:2.5em;
}
